<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>modifyServlet</servlet-name>
    <servlet-class>servlet.ModifyServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>commentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>yearsServlet</servlet-name>
    <servlet-class>servlet.YearsServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>countryServlet</servlet-name>
    <servlet-class>servlet.CountryServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>contactServlet</servlet-name>
    <servlet-class>servlet.ContactServlet</servlet-class>
    </servlet>    
    
    <servlet>
    <servlet-name>visServlet</servlet-name>
    <servlet-class>servlet.VisServlet</servlet-class>
    </servlet>   
    
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>post</servlet-name>
    <servlet-class>PostServlet.post</servlet-class>
  </servlet>


  <display-name>findIDI</display-name>

  <welcome-file-list>
    <welcome-file>/home.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/user_login</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/user_register</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
    <servlet-name>modifyServlet</servlet-name>
    <url-pattern>/user_modify</url-pattern>
    </servlet-mapping>
    
      <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/data_index</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    <servlet-name>commentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
    <servlet-name>yearsServlet</servlet-name>
    <url-pattern>/years</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>countryServlet</servlet-name>
    <url-pattern>/data_country</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>contactServlet</servlet-name>
    <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    
        <servlet-mapping>
    <servlet-name>visServlet</servlet-name>
    <url-pattern>/vis_word</url-pattern>
    </servlet-mapping>

 
</web-app>